<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="spacer"></div>
</div>
<div class="content" role="main">
  <div class="card highlight-card card-small">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Select Region" aria-label="Number" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</div>
<router-outlet></router-outlet>